.chatTextArea {
  height: 75vh;
  overflow: auto;    
}
.chatInputArea {
  resize: none;
}
.coolBorder {
  border-radius: 15px;
  padding: 20px;
  border: 1px solid grey !important;
}

input:focus{
    outline: none; !important
}