.chatTextArea {
  height: 75vh;
  overflow: auto;    
}
.chatInputArea {
  resize: none;
}
.coolBorder {
  border-radius: 15px;
  padding: 20px;
  border: 4px solid grey !important;
}
.coolBorder2 {
  padding: 5px;
  border-radius: 15px;
  border: 4px solid grey !important;
}

input:focus{
    outline: none; !important
}